.card {
    margin-top: 15%;
    margin: 20px;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    
}

img {
    height: auto;
    width: 75%;
    padding: 15px;
    border: solid;
    border-color: #888888;
    border-width: 0.1ch;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
    transition: transform .2s;
}

img:hover{
    transform: scale(1.25);
}