#header {
    background-color: firebrick;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

#header-flex {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.header-flex-item{
    color: white;
    margin: 1.5% 5% 1.5% 5%;
    align-items: center;
    justify-content: center;
    font-family: 'RWBY Style'; 
}

#header-title{
    font-size: 6vmin;
}

#header-main-text{
    font-size: 5vmin;
}

#header-score{
    font-size: 5vmin;
}

#header-padding{
    padding: 0.6%;
    background-color: white;
}

@font-face {
    font-family: 'RWBY Style';
    src: url('../../fonts/rwby_style.ttf');
}