

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-top{
    background-color: indianred;
    height: 75px;
}

#footer-bottom{
    background-color: firebrick;
    height: 50px;
}
